.h1 {
	text-align: center;
}

.product_container {
	display: flex;
	gap: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.product_container_section {
	flex: 1;
}

.product_container_not_selected {
	color: #d9b100;
	border: solid 1px #d9b100;
	background-color: #ffffff;
}
