:root {
  --red-300-: #ff6767;
  --yellow-400-: #ffcc00;
  --gray-500: #9E9E9E;
  --gray-300: #E0E0E0;
  --white-: #ffffff;
}

h2 {
  text-align: center;
}

.btn {
  width: 250px;
}

button[type="submit"] {
  background-color: var(--red-300-);
  color: var(--white-);
}

button[type="reset"] {
  margin-top: 30px;
  border: 1px solid var(--gray-500);
  background-color: var(--white-);
}

button[type="reset"]:hover {
  border: 1px solid var(--gray-500);
}

.btn-red {
  background-color: var(--white-);
  color: var(--red-300-);
  border: 1px solid var(--red-300-);
}

.btn-red:hover {
  background-color: var(--red-300-);
  color: var(--white-);
  border: 1px solid var(--red-300-);
}

.table-header,
.table-body-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 62px;
}

.table-body-row:nth-child(2n + 1) {
  background-color: #f2f2f2;
}

.table-header {
  font-weight: bold;
}

.table-header-item,
.table-body-row > div {
  width: 25%;
  text-align: center;
}

.table-body-row > div:last-child {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.table-body-row button {
  width: 100px;
  color: var(--gray-500);
  border: 1px solid var(--gray-300);
  background-color: var(--white-);
  height: 40px;
}

.table-body-row button:disabled {
  background-color: var(--gray-300);
}

.table-body-row button:hover {
  border: 1px solid var(--gray-300);
}

.product-image {
  width: 50px;
  height: 50px;
}

.add-product-container {
  padding: 0 36px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.modal-container {
  position: absolute;
  width: 600px;
  height: 470px;
  border-radius: 10px;
  right: calc(100% - 50% - 300px);
  background-color: white;
  box-shadow: 0px 0px 8px lightgray;
  display: flex;
  flex-direction: column;
  padding: 8px 25px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background: var(--red-300-);
  color: var(--white-)
}

input {
  margin-bottom: 10px;
}